body{
    margin: 0;
    padding: 0;
    
}

.cabecalho {
    background-color: #ec7000;
    border: 1px solid red;
    padding:1em;
}

.logo {
    width: 30%;
    /* margin: 1em; */
}

.imagem{
    text-align: center;
    /* width: 200%; */
}

.camp {
    margin-top: 10%;
    vertical-align: middle;
    width: 80%;
    border-radius: 10%;
}

.titulo {
    font-size: 64px;
    line-height: 40px;
    margin-bottom: 16px;
    margin-bottom: 10%;
    text-align: center;
    font-weight: bolder;
    font-weight: 900;
    font-family: "Bebas Neue", sans-serif;
}

.icon {
    font-size: 2em;
    color: white;
}

.gerador {
    font-family: 'Sniglet', cursive;;
    text-align: center;
    color: white;
    font-size: 200%;
    
}